{%extends 'base.html.twig'%}




   {%block body%}

    {%if app.user%}
        <a href="{{ path('app_candidat_account')}}"></a>
    {%else%}
        <a href="{{ path('app_recruteur_account')}}"></a>
    {%endif%}
   {%endblock%}

