{% extends 'base.html.twig' %}

{%block title%}trt accueil{%endblock%}

{%block body%}
    <link rel="stylesheet" href="{{asset('assets/css/home.css')}}">

    <h1>Bienvenue sur trt</h1>
    <a href=""><button>s'incrire</button></a>
    <a href=""><button>connexion</button></a>
{%endblock%}