{% extends 'base.html.twig' %}

{% block title %}trt-mon compte-recruteur{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('assets/css/account.css')}}">
    <h1>Compléter mes informations</h1>
   {{form(form)}}

{% endblock %}