{% extends 'base.html.twig' %}

{% block title %}trt-inscription{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('assets/css/register.css')}}">
<h1>Inscription</h1>
    {{form(form)}}
{% endblock %}
